html {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: Georgia, Times, "Times New Roman", serif;
}


/* Navbar */

.navbar {
  text-align: center;
  top: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 43px;
  border-bottom: 1px solid #e2e2e2;
  z-index: 1;
  background-color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  float: left;
}

ul li a {
  color: black;
  display: block;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-weight: 700;
}

.logo {
  display: inline-block;
  text-align: center;
  margin: -7px auto;
  width: 225px;
  height: 60px;
}

.navbarRight {
  float: right;
  padding: 10px;
  text-decoration: none;
}

#subscribe,
#login {
  padding: 11px 10px 8px;
  background-color: #6288a5;
  border: 1px solid #326891;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 11px;
  height: 32px;
  margin-top: -5px;
  transition: ease 0.6s;
}

#login {
  margin-right: 20px;
}

#subscribe:hover,
#login:hover,
#read-comments:hover {
  background-color: #326891;
}


/*Body*/

.bigContainer {
  margin-top: 44px;
}

.add1 {
  color: white;
  background-color: black;
  width: 100%;
  height: 140px;
  text-align: center;
  padding-top: 120px;
  text-transform: uppercase;
  font-size: 28px;
  border-bottom: 20px solid rgb(243, 243, 243);
  border-top: 20px solid rgb(243, 243, 243);
}

h1 {
  margin-left: 20%;
  margin-top: 30px;
  color: #121212;
  font-weight: 700;
  font-style: italic;
  line-height: 46.4px;
}

.pic1 {
  width: 84vw;
  margin: auto;
}

.pic1 img {
  margin: auto;
  height: auto;
  max-width: 100%;
}

.caption {
  color: #666;
  text-align: left;
  font-size: 15px;
}

.captionS {
  font-size: 12px;
  color: #888;
}


/*Main*/

.container {
  margin: 40px auto;
  width: 600px;
}

h3 {
  color: #333;
}

.by {
  text-decoration: underline;
  color: #333;
  text-decoration-color: #ccc;
}


/* Media icons*/

.mediaicons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  vertical-align: baseline;
}

.time {
  margin-top: 13px;
  font-size: 13px;
}

.rightMedia {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  vertical-align: baseline;
}

.round {
  background-color: #eee;
  border: 1px #eee solid;
  border-radius: 100%;
  padding: 5px;
  width: 17px;
  height: 17px;
  cursor: pointer;
  margin: 8px;
}

.notRound {
  font-size: 27px;
  margin-top: -7px;
  margin-left: -10px;
  cursor: pointer;
  font-weight: 100;
}


/*Text*/

p {
  color: #333;
  font-size: 19px;
}

.inlinelink {
  color: #326891;
}

.inflation {
  width: 600px;
  margin: auto;
}

.iframe1 {
  width: 600px;
  margin: 10px auto;
}

.caption2 {
  color: #666;
  font-size: 15px;
}

.telescope-img {
  width: 600px;
}

.small-text-bottom {
  font-size: 11.5px;
  color: #888;
  margin-top: 20px;
}

#read-comments {
  width: 330px;
  padding: 11px 10px 8px;
  background-color: #6288a5;
  border: 1px solid #326891;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 11px;
  height: 36px;
  margin-top: -8px;
  transition: ease 0.6s;
}


/*Bottom articles links*/

.bottom {
  display: flex;
  max-width: 1200px;
  padding-left: 3%;
  margin: auto;
}

.bottom-left {
  width: 70%;
  max-width: 852px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.more-in-space {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  border-top: 1px solid #000;
  padding-top: 20px;
}

.figure-container {
  max-width: 31%;
  padding-bottom: 20px;
}

.bottom-figure {
  width: 100%;
  margin-left: 0;
}

.bottom-figure img {
  width: 100%;
}

.figcaption-bottom {
  text-align: right;
  color: #999;
  font-size: 9.5px;
  padding-top: 5px;
}

.figure-container a {
  text-decoration: none;
  font-size: 12px;
  line-height: 22px;
  color: #121212;
}

.figure-container span {
  color: #999;
  font-size: 12px;
}

#paid-figcaption {
  color: #000000;
  font-size: 9.5px;
  font-weight: bold;
  padding: 6px 10px 4px;
  font-family: 'Source Sans Pro', sans-serif;
}

#paid-title {
  color: #121212;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  padding: 0px 10px 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

#huawai-logo {
  width: 80.55px;
  height: 25px;
  padding-left: 10px;
}

.bottom-right {
  max-width: 315px;
  margin-left: 30px;
  width: 30%;
}

.bottom-right ul {
  margin-top: 20px;
  border-top: 1px solid rgb(226, 226, 226);
  list-style: none;
  text-align: left;
}

.bottom-right ul li a {
  border-bottom: 1px solid rgb(226, 226, 226);
  padding: 15px 0px;
  text-align: left;
  color: #121212;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 22px;
}


/*Footer*/

footer {
  max-width: 1200px;
  background-color: #fff;
  margin: auto;
  padding-bottom: 10px;
}

.d-border {
  width: 100%;
  display: block;
  height: 2px;
  border-bottom: 1px solid rgb(226, 226, 226);
  border-top: 2px solid rgb(226, 226, 226);
}

.footer-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo-footer {
  width: 225px;
  height: 60px;
}

.go-to {
  margin-top: 20px;
  color: #6288a5;
  text-decoration: none;
  font-size: 11px;
}

.footer-container {
  max-width: 1200px;
  background-color: #fff;
  margin: auto;
  color: #333;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-size: 13px;
}

section {
  width: 16%;
}

section ul {
  text-align: left;
}

section ul li {
  display: block;
  width: 100%;
}

section ul li a {
  text-transform: capitalize;
  font-size: 14px;
  padding: 5px 0px;
  font-weight: 300;
  text-align: left;
}

.right-sec {
  padding-left: 15px;
  border-left: 1px solid rgb(226, 226, 226);
}

.home-delivery {
  font-size: 16px;
  padding-bottom: 10px;
}

.svg {
  width: 15px;
  padding-right: 5px;
}

.newsletters li a {
  font-size: 11px;
}

ul.mobi {
  margin-top: 230px;
  list-style-type: none;
  border-top: 1px solid #e2e2e2;
  padding-top: 10px;
}

.mobi li a {
  font-size: 11px;
}


/*Bottom nav*/

.bottom-nav {
  text-align: center;
  max-width: 1200px;
  margin: auto;
  padding-top: 9px;
  border-top: 1px solid #ebebeb;
  height: 55px;
}

.bottom-nav ul {
  display: flex;
  justify-content: center;
}



.bottom-nav ul li a {
  font-size: 11px;
  color: #999;
  font-weight: 300;
}


/* Bottom fixed bar*/

.bottom-bar {
  height: 55px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid black;
}

.bottom-bar-text {
  display: inline-block;
  padding-top: 20px;
}

.subs {
  display: inline;
  position: absolute;
  right: 10px;
}

.subscribe-now {
  float: right;
  padding: 22px 0px;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  line-height: 14px;
  text-transform: uppercase;
}

.up {
  float: right;
  border: solid black;
  border-width: 0 2px 2px 0;
  padding: 5px;
  margin: 25px 20px 0px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .figure-container {
    max-width: 48%;
    padding-bottom: 10px;
  }
}

.filler {
  height: 50px;
}
