html {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
}


/* Navbar */

.navbar {
  text-align: center;
  top: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 43px;
  border-bottom: 1px solid #e2e2e2;
  z-index: 1;
  background-color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  float: left;
}

ul li a {
  color: black;
  display: block;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-weight: 700;
}

.logo {
  display: inline-block;
  text-align: center;
  margin: -7px auto;
  width: 225px;
  height: 60px;
}

.navbarRight {
  float: right;
  padding: 10px;
  text-decoration: none;
}

#subscribe,
#login {
  padding: 11px 10px 8px;
  background-color: #6288a5;
  border: 1px solid #326891;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 11px;
  height: 32px;
  margin-top: -5px;
  transition: ease 0.6s;
}

#login {
  margin-right: 20px;
}

#subscribe:hover,
#login:hover,
#read-comments:hover {
  background-color: #326891;
}


/*Body*/

.bigContainer {
  margin-top: 44px;
}

.add1 {
  color: white;
  background-color: black;
  width: 100%;
  height: 140px;
  text-align: center;
  padding-top: 120px;
  text-transform: uppercase;
  font-size: 28px;
  border-bottom: 20px solid rgb(243, 243, 243);
  border-top: 20px solid rgb(243, 243, 243);
}

h1 {
  margin-left: 20%;
  margin-top: 30px;
  color: #121212;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  font-style: italic;
  line-height: 46.4px;
}

.pic1 {
  font-family: Georgia, Times, "Times New Roman", serif;
  width: 84vw;
  margin: auto;
}

.pic1 img {
  margin: auto;
  height: auto;
  max-width: 100%;
}

.caption {
  color: #666;
  text-align: left;
  font-size: 15px;
  font-family: Georgia, Times, "Times New Roman", serif;
}

.captionS {
  font-size: 12px;
  color: #888;
}


/*Main*/

.container {
  margin: 40px auto;
  width: 600px;
  font-family: Georgia, Times, "Times New Roman", serif;
}

h3 {
  color: #333;
}

.by {
  text-decoration: underline;
  color: #333;
  text-decoration-color: #ccc;
}


/* Media icons*/

.mediaicons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  vertical-align: baseline;
}

.time {
  margin-top: 13px;
  font-size: 13px;
}

.rightMedia {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  vertical-align: baseline;
}

.round {
  background-color: #eee;
  border: 1px #eee solid;
  border-radius: 100%;
  padding: 5px;
  width: 17px;
  height: 17px;
  cursor: pointer;
  margin: 8px;
}

.notRound {
  font-size: 27px;
  margin-top: -7px;
  margin-left: -10px;
  cursor: pointer;
  font-weight: 100;
}


/*Text*/

p {
  color: #333;
  font-size: 19px;
}

.inlinelink {
  color: #326891;
}

.inflation {
  width: 600px;
  margin: auto;
}

.iframe1 {
  width: 600px;
  margin: 10px auto;
}

.caption2 {
  color: #666;
  font-size: 15px;
  font-family: Georgia, Times, "Times New Roman", serif;
}

.telescope-img {
  width: 600px;
}

.small-text-bottom {
  font-size: 11.5px;
  color: #888;
  margin-top: 20px;
}

#read-comments {
  width: 330px;
  padding: 11px 10px 8px;
  background-color: #6288a5;
  border: 1px solid #326891;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 11px;
  height: 36px;
  margin-top: -8px;
  transition: ease 0.6s;
}


/*Bottom articles links*/

.bottom {
  display: flex;
  max-width: 1200px;
  margin: auto;
  font-family: Georgia, Times, "Times New Roman", serif;
}

.bottom-left {
  width: 60%;
  max-width: 852px;
  border-top: 1px solid #000;
}

.more-in-space {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

.figure-container {
  width: 247px;
  background-color:  green;
}

.bottom-figure img {
  width: 247px;
  height: 164px;
}

.figcaption-bottom {
  text-align: right;
}

.bottom-right {
  border-top: 1px solid #000;
  max-width: 315px;
  margin-left: 30px;
  width: 40%;
}
